.main
	margin-top 75px
	margin-bottom 20px
	.list
		padding-top 10px
		border-bottom 1px solid lightgrey
		padding-bottom 10px
	.button-container
		padding-top 10px
		padding-bottom 10px		
	form
		input
		textarea
			width 100%
		textarea.big
			height 300px

.avatar
	height 18px
	padding-top 10px
	padding-bottom 10px