{% extends '../layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
	<div class="main first-container">
		<div class="container">
			<div class="row ">
				<div class="col-md-7 profile">
					<h2>{{currentUser.username}}</h2>
					<p><a class="btn btn-primary" href="{{currentUser.profileUrl}}"><i class="fa fa-github"></i> Github</a></p>
					{% if profileOwner %}
						<div class="bio">
							<form method="POST" action="/perfil/update-bio">
								<h4>Edita tu perfil</h4>
								{% if updatedBio %}<p>Perfil actualizado</p>{% endif %}
								<p><textarea name="bio">{{ currentUser.bio }}</textarea></p>
								<p class="small">Puedes usar markdown, para agregar estilo a tu bio</p>
								<p><button class="btn btn-primary">Salvar</button></p>
							</form>
						</div>
					{% else %}
						<div class="bio">{% autoescape false %}{{ bioAsHtml }}{% endautoescape %}</div>
					{% endif %}
				</div>
				<div class="col-md-5">
					<h4>Eventos a los que ha asistido</h4>
					<ul>
					{% for event in events %}
						<li><a href="/eventos/{{event.slug}}">{{event.name}}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
{% endblock %}