{% extends '../layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
	<div class="main first-container">
		<div class="container">
			<div class="row ">
				<div class="col-md-7 profile">
					<div class="user_profile container-fluid">
						<div class="row">
							<div class="user_profile_avatar col-md-5">
								<img src="http://www.gravatar.com/avatar/{{ currentUser.data.gravatar_id}}?s=250" />
							</div>
							<div class="user_profile_info col-md-7">
								<h2>{{currentUser.username}}</h2>
								<div class="bio">{% autoescape false %}{{ bioAsHtml }}{% endautoescape %}</div>
								<p><a class="btn btn-primary" href="{{currentUser.profileUrl}}"><i class="fa fa-github"></i> Github</a></p>
							</div>
						</div>
					</div>
					<div class="user_profile_details">
					{% if profileOwner %}
						<div class="bio">
							<form method="POST" action="/perfil/update-bio">
								<h4>Edita tu perfil</h4>
								{% if updatedBio %}<p>Perfil actualizado</p>{% endif %}
								<p>Nombre</p>
								<p><input type="text" name="display-name" value="{{ currentUser.displayName }}"></p>
								<p>Email</p>
								<p><input type="text" name="email" value="{{ currentUser.email }}"></p>
								<p>Descripción</p>
								<p><textarea name="bio">{{ currentUser.bio }}</textarea></p>
								<p class="small">Puedes usar markdown, para agregar estilo a tu bio</p>
								<p><button class="btn btn-primary">Salvar</button></p>
							</form>
							{% if repos %}
							<form method="POST" action="/perfil/update-repos">
								<h4>Selecciona tus repositorios que quieras que se muestren en tu perfil.</h4>
								<ul id="repos_list_edit">
								{% for repo in repos %}
									<li><label><input type="checkbox" name="repos[]" value="{{ repo.id }}" {% if currentUser.repos|has(repo.id) %}checked{% endif %} ><span>{{ repo.name }}</span></label>  -  <a href="https://github.com/{{ repo.full_name }}" target="_blank">{{ repo.full_name }}</a></li>
								{% endfor %}
								</ul>
								<p><button class="btn btn-primary">Seleccionar Repositorios</button></p>
							</form>
							{% endif %}
						</div>
					{% else %}
						{% if !repos|isEmpty %}
							<h3>Repositorios publicos.</h3>
							<div id="repos_list" class="container-fluid">
								{% for repo in repos %}
									<div class="repo_item row">
										<div class="repo_icon col-md-1">
											<i class="fa {% if repo.fork %}fa-code-fork{% else %}fa-file-code-o{% endif %}"></i>
										</div>
										<div class="repo_info col-md-11">
											<h4><a href="https://github.com/{{ repo.full_name }}" target="_blank">{{ repo.full_name }}</a></h4>
											<p>{{ repo.description }}</p>
											<span>Última actualización: <time>{{ repo.last_update_from_now }}</time></span>
										</div>
									</div>
								{% endfor %}
							</div>
						{% endif %}
					{% endif %}
					</div>
				</div>
				<div class="col-md-5">
					{% if profileOwner %}
					<h3>Newsletter</h3>
						{% if unsubscribe %}
							<p>Ya no estas subscrito ;(.</p>
							<p>Si tienes alguna queja sobre el uso del newsletter, contacta <a href="http://twitter.com/siedrix">@siedrix.</a> o a <a href="http://twitter.com/jeduan">@jeduan.</a></p>
						{% elseif isSubscribed %}
							<p>Estas subscrito al newsletter.</p>
							<form method="POST" action="/perfil/unsubscribe">
								<p><button class="btn btn-primary">Deseo dejar de recibir el newsletter</button></p>
							</form>
						{% elseif subscribe %}
							<p>Checa tu correo para terminar tu subscripcion al newsletter.</p>
						{% else %}
							{% if currentUser.email %}
							<form method="POST" action="/perfil/subscribe">
								<p><button class="btn btn-primary">Subscribirme al newsletter</button></p>
							</form>
							{% else %}
							<p>Agrega un email antes de subscribirte al newsletter</p>
							{% endif %}
						{% endif %}
					{% endif %}
					<h3>Eventos a los que he asistido</h3>
					<ul id="attended_events_list">
					{% for event in events %}
						<li><i class="fa fa-caret-right"></i><a href="/eventos/{{event.slug}}">{{event.name}}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
{% endblock %}