{% extends 'admin-layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}

	<link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block content %}
	{% if eventType == "meetup" %}
	<h1 class="page-header">Eventos</h1>
	{% else %}
	<h1 class="page-header">Sesiones de programación</h1>
	{% endif %}
	<div class="main">
		<div class="events">
			<div class="row create">
				<a href="/admin/{{eventType}}/new" class="btn btn-primary" role="button">
					<i class="fa fa-plus-circle"></i>
					New event
				</a>
			</div>
			{% for event in events %}
			<div class="row list event" data-slug="{{event.slug}}">
				<div class="col-xs-4">
					<a href="/admin/{{eventType}}/edit/{{ event.slug }}">{{ event.name }}</a>
				</div>
				<div class="col-xs-6">
					{{ event.date }} {{event.hour_start}} &mdash; {{ event.hour_end }}
				</div>
				{% if event.current %}
				<button class="btn btn-success btn-current col-xs-1 unset-as-current">
					<i class="fa fa-check-circle"></i>
				</button>
				{% else %}
				<button class="btn btn-default col-xs-1 set-as-current">
					<i class="fa fa-arrow-circle-up"></i>
				</button>
				{% endif %}				
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block head %}
<style>
{# http://jsfiddle.net/AndrewDryga/zcX4h/1/ #}
	.spinner {
		display: inline-block;
		opacity: 0;
		width: 0;
		transition: opacity 0.25s, width 0.25s;
	}
	.working .spinner {
		opacity: 1;
		width: 16px;
	}

	.row.event .btn{
		padding: 0;
	}
</style>
{% endblock %}

{% block js %}
<script src="/js/vendors/jquery.2.0.3.min.js"></script>
<script>
	var notCurrentTpl = '<i class="fa fa-arrow-circle-up"></i>';
	var CurrentTpl = '<i class="fa fa-check-circle"></i>';
	var ProcesingTpl = '<i class="fa fa-spin fa-refresh"></i>';

	$.fn.renderNotCurrent = function() {
		this.each(function() {
			$(this)
			.removeClass('btn-current btn-success unset-as-current')
			.addClass('btn-default has-spinner set-as-current')
			.html(notCurrentTpl)
		})
		return this
	}
	$.fn.renderCurrent = function() {
		this.each(function() {
			$(this)
			.removeClass('btn-default has-spinner set-as-current')
			.addClass('btn-current btn-success unset-as-current')
			.html(CurrentTpl)
		})
		return this
	}

	{% if eventType === 'meetup' %}
	$('.events').on('click', '.set-as-current', function (e){
		var $this = $(this);
		var slug = $this.closest('.event').data('slug');
		$this.closest('.events').find('.btn-current').renderNotCurrent();
		$this.addClass('working').html(ProcesingTpl);

		var xhr = $.post('/admin/meetup/set-as-current', {slug: slug})
		xhr.always(function(){
			$this.removeClass('working').html(CurrentTpl);
		})
		xhr.then(function(){
			$this.renderCurrent()
		}, function(){
			// deal with error
		});
	});
	{% endif %}

	{% if eventType === 'coding' %}
	$('.events').on('click', '.set-as-current', function (e){
		var $this = $(this);
		var slug = $this.closest('.event').data('slug');
		console.log('set', $this, slug);

		$this.addClass('working').html(ProcesingTpl);
		var xhr = $.post('/admin/coding/set-as-current', {slug: slug})
		xhr.always(function(){
			$this.removeClass('working').html(CurrentTpl);
		})
		xhr.then(function(){
			$this.renderCurrent();
		}, function(){
			// deal with error
		});			
	});

	$('.events').on('click', '.unset-as-current', function (e){
		var $this = $(this);
		var slug = $this.closest('.event').data('slug');
		console.log('unset', $this, slug);

		$this.addClass('working').html(ProcesingTpl);

		var xhr = $.post('/admin/coding/unset-as-current', {slug: slug})
		xhr.always(function(){
			$this.removeClass('working').html(CurrentTpl);
		})
		xhr.then(function(){
			$this.renderNotCurrent();
		}, function(){
			// deal with error
		});		
	});	
	{% endif %}
</script>
{% endblock %}
