{% extends 'admin-layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}
	<link rel="stylesheet" href="/css/date-picker/jquery-ui-1.10.4.custom.min.css">
{% endblock %}

{% block content %}
	<h1 class="page-header">
		{% if event.name %}
		{{ event.name }}
		{% else %}
		Create new event
		{% endif %}
	</h1>
	<div class="">
		<div class="">
			<form method="POST">
				<div class="row list">
					<div class="col-sm-2">
						<span>Name</span>
					</div>
					<div class="col-sm-10">
						<input type="text" name="name" value="{{ event.name }}"/>
					</div>
				</div>
				<div class="row list">
					<div class="col-sm-2">
						<span>Date</span>
					</div>
					<div class="col-sm-10">
						<div class="row">
							<div class="col-sm-12">
								<input id="dayoh" type="text" name="date" value="{{ event.date }}"/>
							</div>
						</div>
						<div class="row sub_row">
							<div class="col-sm-2">
								<label for="hour_start">Start time:</label>
							</div>
							<div class="col-sm-4">
								<input id="hour_start" type="text" name="hour_start" value="{{ event.hour_start }}"/>
							</div>
							<div class="col-sm-2">
								<label for="hour_end">End time:</label>
							</div>
							<div class="col-sm-4">
								<input id="hour_end" type="text" name="hour_end" value="{{ event.hour_end }}"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row list">
					<div class="col-sm-2">
						<span>Status</span>
					</div>
					<div class="col-sm-10">
						<select class="form-control" name="status" value="{{ event.status }}">
						  <option value="active" {% if event.status == 'active' %} selected {%endif%}>Active</option>
						  <option value="ongoing" {% if event.status == 'ongoing' %} selected {%endif%}>On Going</option>
						  <option value="finished" {% if event.status == 'finished' %} selected {%endif%}>Finished</option>
						</select>
					</div>
				</div>
				<div class="row list">
					<div class="sub_row">
						<div class="col-sm-2">
							<span>Place</span>
						</div>
						<div class="col-sm-10">
							<input type="text" name="place" value="{{ event.place }}"/>
						</div>
					</div>
					<div class="sub_row">
						<div class="sub_row">
							<div class="col-sm-2">
								<span>Address</span>
							</div>
							<div class="col-sm-10">
								<input id="address" type="text" name="address" value="{{ event.address }}"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row list">
					<div class="col-sm-2">
						<span>Except</span>
					</div>
					<div class="col-sm-10">
						<textarea class="medium" name="except">{{ event.except }}</textarea>
					</div>
				</div>				
				<div class="row list">
					<div class="col-sm-2">
						<span>Description</span>
					</div>
					<div class="col-sm-10">
						<textarea class="big" name="description">{{ event.description }}</textarea>
					</div>
				</div>							
				<div class="row right button-container">
					{% if event.name %}
						<button class="btn btn-primary btn-lg">Update event &raquo;</button>
					{% else %}
						<button class="btn btn-primary btn-lg">Create event &raquo;</button>
					{% endif %}
				</div>
			</form>
			<h3>Attendees</h3>
			<div class="row list">
				<div class="col-xs-3"><h4>Nombre</h4></div>
				<div class="col-xs-3"><h4>User</h4></div>
				<div class="col-xs-4"><h4>Email</h4></div>
				<div class="col-xs-2"><h4>Used</h4></div>
			</div>
			<div class="row list">
				{% for ticket in tickets %}
				<div class="col-xs-3"><span>{{ ticket.displayName }}</span></div>
				<div class="col-xs-3"><span>{{ ticket.user }}</span></div>
				<div class="col-xs-4"><span>{{ ticket.email }}</span></div>
				<div class="col-xs-2"><span>{{ ticket.used }}</span></div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/js/vendor/jquery.2.0.3.min.js"><\/script>')</script>
	<script src="/js/vendors/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="//maps.google.com/maps/api/js?libraries=places,geometry&sensor=true"></script>
	<script>
		/* Date/Time pickers options */
		$('#dayoh').datepicker({"dateFormat": "yy-mm-dd"});
		$('#hour_start').timepicker({"timeFormat": "HH:mm"});
		$('#hour_end').timepicker({"timeFormat": "HH:mm"});

		/* Google Places */
		var options = {
          types: ['geocode'],
          componentRestrictions: { country: "MX" }
        };
		var autocomplete = new google.maps.places.Autocomplete(document.getElementById('address'), options);
        google.maps.event.addListener(autocomplete, 'place_changed', function( e ) {
        	e.preventDefault();
        	var place = autocomplete.getPlace();
        	if (place.geometry) {
        		console.log( place.geometry );
        	}
        });
	</script>
{% endblock %}