{% extends 'admin-layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}

	<link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block content %}
	<h1 class="page-header">Usuarios</h1>
	<div class="main">
		<div class="container">
			{% for user in users %}
			<div class="row list">
				<div class="col-xs-1">
					<a class="avatar" href="/perfil/{{ user.username }}">
						<img class="tooltip-holder" src="{{ user.data.avatar_url }}" data-toggle="tooltip" data-placement="bottom" title="{{ user.username }}">
					</a>
				</div>
				<div class="col-xs-3">
					{{ user.username }}
				</div>				
				<div class="col-xs-8">
					{% if user.emails[0].value !== null && user.emails[0].value !== ''  %}
						{{ user.emails[0].value }}
					{% else %}
						No hay email.
					{% endif %}
				</div>				
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}