{% extends '../layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
	<div class="main first-container">
		<div class="container">
			<div class="row ">
				<div class="col-md-7">
					<h1>{{event.name}}</h1>
					<p><b>Lugar</b> {{event.place}}</p>
					<p><b>Dirección</b> {{event.address}}</p>
					<p><b>Fecha</b> {{ event.date }} <b>hora</b> {{ event.hour_start }} - {{ event.hour_end }}</p>
					{% autoescape false %}
					<p>{{event.description}}</p>
					{% endautoescape %}
				</div>
				<div class="col-md-5">
					<h4>Asistentes({{attendees.length}})</h4>
					<div class="avatar-wall row">
					{% for attendee in attendees %}
						<div class="col-xs-2">
							{% include "../partials/avatar.html" with attendee %}
						</div>
					{% endfor %}
					</div>

				{% if user %}
					{% if hasTicket %}
						<h4>Ya tienes tu boleto, nos vemos en el evento</h4>
					{% elseif user %}
						<h4>Consigue tu boleto</h4>
						<form method="POST" action ="/eventos/{{event.slug}}/ticket">
						<button class="btn btn-primary">Reservar ticket</button>
						</form>
					{% endif %}
				{% else %}
					<h4>Haz log in para hacer obtener tu boleto</h4>
					<a href="/auth/github" class="btn btn-primary">Hacer check in</a>
				{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
	$(document).ready(function(){ $('.tooltip-holder').tooltip() });
	</script>
{% endblock %}
