{% extends '../layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
	<div class="main first-container">
		<div class="container">
			<div class="row ">
				<div class="col-md-7">
					<h1>{{event.name}}</h1>
					<p><b>Lugar</b> {{event.place}}</p>
					{% if event.embed %}
					<p><a href="{{event.embed}}">{{event.address}}</a></p>
					{% else %}
					<p>{{event.address}}</p>
					{% endif %}
					<p>{{ event.date_start|prettyDate("LLL") }} - {{ event.hour_end }}</p>
					{% autoescape false %}
					<p>{{event.description}}</p>
					{% endautoescape %}
				</div>
				<div class="col-md-5">
					{% if user %}
						{% if hasTicket %}
							<h4>Ya tienes tu boleto, nos vemos en el evento</h4>
							{% if ! userTicket.hasNewsletter %}
								{% if ! userTicket.email %}
									<p><a href="/perfil">Completa tu perfil y subscribete a nuestro newsletter</a></p>
								{% else %}
									<form method="POST" action="/perfil/subscribe">
										<p><button class="btn btn-primary">Subscribirme al newsletter con {{userTicket.email}}</button></p>
									</form>
									<p><a href="/perfil">Cambia el mail con el que deseas recibir el newsletter</a></p>
								{% endif %}
							{% endif %}
						{% elseif user %}
							<h4>Consigue tu boleto</h4>
							<form method="POST" action ="/eventos/{{event.slug}}/ticket">
							<button class="btn btn-primary">Reservar ticket</button>
							</form>
						{% endif %}
					{% else %}
						<a href="/auth/github" class="btn btn-primary">Obtener Boletos</a>
					{% endif %}
					<h4>Asistentes({{attendees.length}})</h4>
					<div class="avatar-wall row">
					{% for attendee in attendees %}
						<div class="col-xs-2">
							{% include "../partials/avatar.html" with attendee %}
						</div>
					{% endfor %}
					</div>				
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
	$(document).ready(function(){ $('.tooltip-holder').tooltip() });
	</script>
{% endblock %}
