{% extends '../layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
	<div class="main first-container">
		<div class="container">
			<div class="row ">
				<div class="col-md-7">
					<h1>{{event.name}}</h1>
					{% autoescape false %}
					<p>{{event.description}}</p>
					{% endautoescape %}
				</div>
				<div class="col-md-5">
					{% if talkSend %}
						<h4>Gracias por enviar tu platica, <a href="http://twitter.com/siedrix">@siedrix</a> te contactara pronto.</h4>
					{% elseif user %}
						<form class="call-for-proposals" action="/eventos/{{event.slug}}/call-for-proposals" method="POST">
							<h4>¿Que framework quieres representar?</h4>
							<p>Yo {{user.username}} quiero representar a <input name="framework" type="text"/></p>
							<p>¿En que sitios lo haz usado en produccion?</p>
							<p><textarea name="sites"></textarea></p>
							<p>Cuenta un poco de la experiencia con este MV*</p>
							<p><textarea name="experience"></textarea></p>
							<p class="right"><button class="btn btn-primary btn-lg">Enviar propuesta &raquo;</button></p>
						</form>
					{% else %}
						<p>Haz log in para elegir un framework a representar <i class="fa fa-long-arrow-up" style="font-size:30px"></i></p>		
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}