{% extends '../layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
	<div class="main first-container">
		<div class="container">
			<div class="row ">
				<div class="col-md-7">
					<h1>{{event.name}}</h1>
					{% autoescape false %}
					<p>{{event.description}}</p>
					{% endautoescape %}
					{{ event.date }} {{ event.hour_start }} - {{ event.hour_end }}
				</div>
				<div class="col-md-5">
					{% if hasTicket %}
					{% elseif user %}
					<h4>Consigue tu boleto</h4>
					<form method="POST" action ="/eventos/{{event.slug}}/ticket">
					<button class="btn btn-primary">Reservar ticket</button>
					</form>
					{% else %}
						<p>Haz log in si quieres proponer una plática <i class="fa fa-long-arrow-up" style="font-size:30px"></i></p>
					{% endif %}
					{% if talkSend %}
						<h4>Gracias por enviar tu platica, <a href="http://twitter.com/siedrix">@siedrix</a> te contactará pronto.</h4>
					{% elseif user %}
						<form class="call-for-proposals" action="/eventos/{{event.slug}}/call-for-proposals" method="POST">
							<h4>Quiero dar una plática.</h4>
							<p>Yo {{user.username}} quiero dar una plática acerca de <input name="framework" type="text"/></p>
							<p>¿Dónde lo has usado en producción?</p>
							<p><textarea name="sites"></textarea></p>
							<p>Cuéntanos un poco de tu experiencia con esta libreria/tecnología</p>
							<p><textarea name="experience"></textarea></p>
							<p class="right"><button class="btn btn-default">Enviar propuesta</button></p>
						</form>
					{% else %}
						<p>Haz log in si quieres proponer una plática <i class="fa fa-long-arrow-up" style="font-size:30px"></i></p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
