{% extends '../layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
	<div class="main first-container">
		<div class="container">
			<div class="row ">
				<div class="col-md-7">
					<h1>{{event.name}}</h1>
					<p>{{ event.date }} {{ event.hour_start }} - {{ event.hour_end }}</p>
					{% autoescape false %}
					<p>{{event.description}}</p>
					{% endautoescape %}

					<div class="reviews">
						{% for review in reviews %}
						<div class="review">
							<h6>{% include "../partials/avatar.html" with review %} {{review.user}}</h6>
							<p>{{review.review}}</p>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-5">
					{% if user and hasUsedTicket %}
						<h4>Gracias por asistir al evento</h4>
						<p>Deja in review del evento</p>
						<form class="call-for-proposals" method="POST" action="/eventos/{{event.slug}}/review">
							<p><textarea name="review">{{talk.review}}</textarea></p>
							<p class="right"><button class="btn btn-default">Enviar review</button></p>
						</form>				
					{% else %}				
						<h4>Si fuiste al evento, haz log in para dejar tu review</h4>
					{% endif %}				

					<h4>Asistentes al evento({{attendees.length || '0'}})</h4>
					<div class="avatar-wall row">
					{% for attendee in attendees %}
						<div class="col-xs-2">
							{% include "../partials/avatar.html" with attendee %}
						</div>
					{% endfor %}
					</div>							
				</div>
			</div>
		</div>
	</div>
{% endblock %}