{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1>Bienvenidos {% if user %}{{ user.username }}{% else %} a ChelaJs.{% endif %}</h1>
					<p>Es un grupo developers se reúnen cada segundo jueves del mes a tomar javascript con el pretexto de hablar del mejor lenguaje hoy en día: cerveza.</p>
					<p>En el evento tendremos una serie de platicas de temas variados desde como usar javascript en produccion, como hacer aplicaciones desktop y nuevas librarias que van surgiendo en para este gran leguaje.</p>
				</div>
				<div class="col-md-4">
					<h3>Proximo evento 12 de diciembre</h3>
					<p>Queremos que este evento sea tematico y solo hablemos de MV* como Angular, Backbone y Ember</p>
					<p>¿Quieres participar representando a un MV* favorito?</p>
					<p class="right"><a href="/eventos/batalla-de-los-mv" class="btn btn-primary btn-lg" role="button">Participa &raquo;</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="container">
			<div class="row">
				<h2>Colabora con Chelajs</h2>
				<p>Chelajs necesita tu ayuda para crecer y ser una gran comunidad</p>
			</div>
			<div class="row">
				<div class="col-md-4">
					<h4>Ayuda a organizar el evento</h4>
					<p>Se voluntario durante un evento.<p> 
					<p>Para que un evento suceda necesario preparar muchas cosas, coordinar las platicas y difundir el evento.</p>
					<p>Si deseas ser parte del staff de Chelajs y ayudar a que el evento suceda todos los meses. Para esto necesitamos tantas manos como sea posible.</p>
				</div>
				<div class="col-md-4">
					<h4>Colabora a mejorar este sitio</h4>
					<p>Tenemos planes para que este sitio sea el hub de la comunidad.</p>
					<p>Poco a poco agregaremos a este sitio la opcion de compartir link, proyectos, perfiles, ofertas de trabajo y muchas cosas mas.</p>
					<p>Necesitamos gente que colabore con diseno, programacion y todas esas cosas que requiere un sitio web.</p>
				</div>
				<div class="col-md-4">
					<h4>Patrocina el evento</h4>
					<p>Para por organizar un evento necesitamos conseguir un lugar donde realizarlo y cerveza. Ayudanos a que esto suceda.</p>
					<p>Haz un patrocinio en cerveza, en forma de un lugar o en efectivo.</p>
					</p>Colabora con la comunidad y haz que esta conosca tu empresa y que es lo que esta realizando.</p>		
				</div>
			</div>
			<div class="row">
				<div class="class-md-12 right">
					<h4>¿Quieres ser parte del equipo de ChelaJS? Contacta a <a href="https://twitter.com/siedrix">@Siedrix</a> o <a href="https://twitter.com/jeduan">@Jeduan</a><h4>
				</div>
			</div>
		</div>
	</div>
{% endblock %}