{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1><img src="/img/logo.png" alt="Chela JS"></h1>
				</div>
				<div class="col-md-4 next-event">
					<p>Un grupo developers se reúnen a tomar javascript con el pretexto de hablar del mejor lenguaje hoy en día: cerveza.</p>

					{% if event %}
						{% if event.status == 'active' %}
							<h2>Próximo evento</h2>
							<h3>{{event.name}}</h3>
							<div>{{event.date}}</div>
							<div>{{event.place}} - {{event.address}}</div>
							<a href="/eventos/{{event.slug}}" class="btn btn-primary btn-lg">Consigue tu boleto</a>
						{% elseif event.status == 'ongoing' %}
							<h2>{{event.name}}</h2>
							<div><b>Esta sucediendo en este momento</b></div>
							<div>{{event.except}}</div>
							<div>Haz check in <a href="/eventos/{{event.slug}}">aqui</a></div>						
						{% elseif event.status == 'finished' %}
							<h2>{{event.name}}</h2>
							<div>Evento termidando</div>
							<div>{{event.except}}</div>
							<div>Deja tu review <a href="/eventos/{{event.slug}}">aqui</a></div>
						{% else %}
							<h2>Siguiente evento</h2>
							<div>Estamos buscando lugar para el evento de Febrero, fecha ideal 27 de febrero</div>
							<div>Contacta a <a href="https://twitter.com/siedrix">@Siedrix</a> si tienes el un lugar donde lo podamos hacer.</div>
						{% endif %}
					{% else %}
						<h2>No Siguiente evento</h2>
						<div>Si tienes un lugar y quieres colaborar con ChelaJs contacta a <a href="https://twitter.com/siedrix">@Siedrix</a> y ayudanos a que sucede al siguiente.</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="container">
			<div class="row">
				<h2>Con el apoyo de</h2>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a href="http://centraal.com">
						<img src="/img/logos-centraal.png"  style="max-width: 50%">
					</a>
				</div>
				<div class="col-md-6">
					<img src="/img/logos-google-dev.png" style="max-width: 100%">
				</div>
			</div>
			<div class="row">
				<div class="class-md-12 right">
					<h4>¿Quieres ser parte del equipo de ChelaJS? Contacta a <a href="https://twitter.com/siedrix">@Siedrix</a> o <a href="https://twitter.com/jeduan">@Jeduan</a><h4>
				</div>
			</div>
		</div>
	</div>
{% endblock %}