{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-6 logo">
					<div>
						<h1>ChelaJS</h1>
						<p>Un grupo developers se reúnen a tomar javascript con el pretexto de hablar del mejor lenguaje hoy en día: cerveza.</p>
					</div>
					<img id="home_logo" src="/img/logo.png" alt="Chela JS">
				</div>
				<div class="col-md-6 next-event">
					{% if event %}
					<div class="next-event-info">
						{% if event.status == 'active' %}
						<h4>Siguiente evento</h4>
							<h2>{{event.name}}</h2>
							<div class="next-event-date">{{event.date}}</div>
							<div>{{event.place}} - {{event.address}}</div>
							<a href="/eventos/{{event.slug}}" class="btn btn-primary btn-lg">Consigue tu boleto</a>
						{% elseif event.status == 'ongoing' %}
							<h2>{{event.name}}</h2>
							<div><b>Está sucediendo en este momento</b></div>
							<div>{{event.except}}</div>
							<div>Haz check in <a href="/eventos/{{event.slug}}">aqui</a></div>
						{% elseif event.status == 'finished' %}
							<h2>El siguiente ChelaJS se está fermentando.</h2>
							<div>ChelaJS anterior: <a href="/eventos/{{event.slug}}">{{event.name}}</a></div>
						{% endif %}
					</div>
					{% else %}
					<div class="event-info">
						<h2>No Siguiente evento</h2>
						<div>Si tienes un lugar y quieres colaborar con ChelaJs contacta a <a href="https://twitter.com/siedrix">@Siedrix</a> y ayudanos a que sucede al siguiente.</div>
					</div>
					{% endif %}
					{% if sessions.length %}
					<div class="event-info">
						<h4>Sessiones de programación</h4>
						{% for session in sessions %}
						<div>
							<h2>{{session.name}}</h2>
							<div>{{session.time}}</div>
							<div>{{session.place}} - {{session.address}}</div>							
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="sponsor-home-container col-md-2 col-md-offset-1">
					<div class="sponsor-home">
						<a href="http://centraal.com">
							<img src="/img/logos-centraal.png"  style="max-width: 50%">
						</a>
					</div>
				</div>
				<div class="sponsor-home-container col-md-2">
					<div class="sponsor-home">
						<img src="/img/logos-google-dev.png" style="max-width: 100%">
					</div>
				</div>
				<div class="sponsor-home-container col-md-2">
					<div class="sponsor-home">
						<a href="http://www.lastroom.mx/">
							<img src="/img/logo-lastroom.png"  style="max-width: 100%">
						</a>
					</div>
				</div>
				<div class="sponsor-home-container col-md-2">
					<div class="sponsor-home">
						<a href="https://www.conekta.io/es/">
							<img src="/img/logo-conekta.png"  style="max-width: 100%">
						</a>
					</div>
				</div>
				<div class="sponsor-home-container col-md-2">
					<div class="sponsor-home">
						<a href="http://next-cloud.mx/cf/main.cfm">
							<img src="http://h5.nextasp.com.mx/logo.png"  style="max-width: 100%">
						</a>
					</div>						
				</div>						
			</div>
		</div>
	</div>
{% endblock %}
